p {
  color: #6F6B6A;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
h1 {
   font-size: 60px;
   text-align: center;
}
html {
	 background-color: #E2D6FA;
}
body {
	width: 600px;
	margin: 0 auto;
	background: linear-gradient(35deg,#CCFFFF,#FFCCCC);
	padding: 0 20px 20px 20px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19);

}
h1 {
   margin: 0;
   padding: 20px 0;
   color: #6B6D75;
   text-shadow: 3px 3px 1px white;
}
h2,ol {
	color: #303436;
}
img {
	display: block;
	margin: 0 auto;
	width: 300px;
	border-radius: 10px;
}
